Diabetic_Rethinopathy_HW_description/Diabetic_Rethinopathy_HW_description.cache/
Diabetic_Rethinopathy_HW_description/Diabetic_Rethinopathy_HW_description.hw/
Diabetic_Rethinopathy_HW_description/Diabetic_Rethinopathy_HW_description.ip_user_files/
Diabetic_Rethinopathy_HW_description/Diabetic_Rethinopathy_HW_description.runs/
Diabetic_Rethinopathy_HW_description/Diabetic_Rethinopathy_HW_description.sim/
Diabetic_Rethinopathy_HW_description/design_1_wrapper.xsa
Diabetic_Rethinopathy_HW_description/Diabetic_Rethinopathy_HW_description.xpr
DNNDK_HW_DR/dnnc_output/
DNNDK_HW_DR/__pycache__/
DNNDK_HW_DR/quantize_results/
DNNDK_HW_DR/classification_input_fn.py
DNNDK_HW_DR/frozen_graph.pb
DNNDK_HW_DR/resnet3.h5
Petalinux_HW_DR_AP_AP/Petalinux_HW_DR/
xilinx_dnndk_v3.1_190809/
